/* .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid black;
}
.logo {
    width: 200px;
}

.search-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.nav-menu > ul {
 display: flex;
 margin-right: 10px;
 margin-left: 10px;
 padding:10px;
}
.nav-menu  > ul > li {
    padding: 10px;
    margin: 10 px;
    padding-right: 10px;
}

.login-btn {
  padding:0 20px;
  cursor : pointer
}

.link-style{
  padding: 10px;
}
*/