.searchbar {
    margin: 20px;
    width: 400px;
    display: flex;
}
.searchbar-style {
    width: 600px;
    background-color: antiquewhite;
    height:30px;
}
.search-btn {
    padding-inline-start: 15px;
    padding-inline-end: 15px;

}